
{% extends 'shalom_enterprise/layout.html' %}
{%load static%}
{% block title %}Home -Shalom Enterprise{% endblock %}

{% block content %}



	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- shop -->
				
				{% for brand in brands %}
<div class="col-md-4 col-xs-6">
    <div class="shop">
        <div class="shop-img" style="width: 100%; height: 230px;">
            {% if brand.logo %}

			
                <img src="{{ brand.logo.url }}" style="height: 100%; width: 100%; object-fit: cover"  alt="{{ brand.name }} logo">
			</div>
            {% else %}
                <img src="" alt="Default brand logo">
            {% endif %}
        <div class="shop-body">
            <h3>{{ brand.name }}<br>Collection</h3>
            <a  href="{% url 'products:all-products' %}?brand={{ brand.id }}" class="cta-btn">
                Shop now <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
{% endfor %}
				
				<!-- /shop -->

				<!-- shop -->
			
				<!-- /shop -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	

	<!-- In your index.html template -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                    <div class="section-nav">
						<a  href="{% url 'products:all-products' %}" class="d-flex align-items-center">
							View All Products  &nbsp; <i class="fa fa-arrow-right" style="color: #D10024;"></i>
						  </a>
                    </div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                {% for product in products %}
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img" style="height: 300px!important;">
                                        {% with product.images.all|first as main_image %}
                                            {% if main_image %}
                                            <img src="{{ main_image.image.url }}" alt="{{ product.name }}">
                                            {% endif %}
                                        {% endwith %}
                                        <div class="product-label">
                                            {% if product.discount_price %}
                                                <span class="sale">-{{ product.get_discount_percentage }}%</span>
                                            {% endif %}
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{ product.category.name }}</p>
                                        <h3 class="product-name"><a href="#">{{ product.name }}</a></h3>
                                        <h4 class="product-price">
                                            GHS {{ product.price }}
                                            {% if product.discount_price %}
                                                <del class="product-old-price">GHS {{ product.discount_price }}</del>
                                            {% endif %}
                                        </h4>
                                   
										<div class="product-rating">
											{% with product.average_rating as rating %}
												{% if product.rating_count > 0 %}
													{# Show numeric rating if you want #}
													
													{# Star display #}
													{% for i in "12345" %}
														{% if forloop.counter <= rating %}
															<i class="fa fa-star"></i>
														{% else %}
															{% if forloop.counter|add:"-0.5" <= rating and rating < forloop.counter %}
																<i class="fa fa-star-half-o"></i>
															{% else %}
																<i class="fa fa-star-o"></i>
															{% endif %}
														{% endif %}
													{% endfor %}
												{% else %}
													{# Show all empty stars for products with no reviews #}
													{% for i in "12345" %}
														<i class="fa fa-star-o"></i>
													{% endfor %}
												{% endif %}
											{% endwith %}
										</div>
                                     
										<div class="product-btns">
											<button class="add-to-wishlist" onclick="addToWishlist({{ product.id }})"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											<button class="quick-view">
												<a href="{% url 'products:product-detail' product.slug %}">
							
													<i class="fa fa-eye"></i>
												</a>
												<span class="tooltipp">quick view</span>
											</button>
										</div>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"  onclick="addToCart({{ product.id}}, 1)"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
                                </div>
                                <!-- /product -->
                                {% endfor %}
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>

        <!-- /row -->
    </div>
	<div class="section  " style="margin-top: 25px;">
		<div class="container">
		  <div  style="display: flex; align-items: center; justify-content: end;">
		
		  </div>
		</div>
	  </div>
	  
    <!-- /container -->
</div>
	<!-- /SECTION -->

	<!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hot-deal">
						<ul class="hot-deal-countdown">
							<li>
								<div>
									<h3>02</h3>
									<span>Days</span>
								</div>
							</li>
							<li>
								<div>
									<h3>10</h3>
									<span>Hours</span>
								</div>
							</li>
							<li>
								<div>
									<h3>34</h3>
									<span>Mins</span>
								</div>
							</li>
							<li>
								<div>
									<h3>60</h3>
									<span>Secs</span>
								</div>
							</li>
						</ul>
						<h2 class="text-uppercase">hot deal this week</h2>
						<p>New Collection Up to 50% OFF</p>
						<a class="primary-btn cta-btn" href="#">Shop now</a>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->

	<!-- SECTION -->
	<
	<!-- /SECTION -->

	<!-- SECTION -->
	
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>Sign Up for the <strong>NEWSLETTER</strong></p>
						<form>
							<input class="input" type="email" placeholder="Enter Your Email">
							<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
						</form>
						<ul class="newsletter-follow">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->



{% endblock%}
	